{% assign data = include.data %} 


<article class= "id"> 
	<h1 class= "heading site-title">
		{{ data.organization }} 
		{% if data.logo.src %}
			<img class= "logo" src= "{{ data.logo.src }}" alt= "{{ data.logo.alt }}" /> 
		{% endif %} 
	</h1> 

	{% if data.tagline %}
		<p class= "tagline">{{ data.tagline }}</p> 
	{% endif %} 

	{% if data.description %} 
		<p class= "description">{{ data.description }}</p> 
	{% endif %} 
</article> 